
__pycache__/__init__.cpython-311.pyc

__pycache__/__init__.cpython-39.pyc

__pycache__/DesignSystem.cpython-311.pyc

__pycache__/DesignSystem.cpython-39.pyc

__pycache__/ImpactTable.cpython-311.pyc

__pycache__/Risk.cpython-311.pyc

__pycache__/Risk.cpython-39.pyc

.idea/

__pycache__/
